<?xml version="1.0" encoding="utf-8"?>


<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="#6200EE"
    android:orientation="vertical" >


    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:background="#6200EE"
        android:orientation="horizontal" >


        <Button
            android:id="@+id/node1"
            style="?android:attr/buttonBarButtonStyle"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_gravity="start"
            android:text="@string/node1"
            android:textColor="#ffffff"
            />



        <Button

            android:id="@+id/subnode1"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_gravity="end"
            android:textColor="#ffffff"
            android:text="@string/subnode1"

            />

    </LinearLayout>

    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:background="#6200EE"
        android:orientation="horizontal" >


        <Button
            android:id="@+id/node2"
            style="?android:attr/buttonBarButtonStyle"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_gravity="start"
            android:text="@string/node2"
            android:textColor="#ffffff"
            />





    </LinearLayout>

    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:background="#6200EE"
        android:orientation="vertical"
        android:layout_gravity="end">



        <Button
            android:id="@+id/back"
            style="?android:attr/buttonBarButtonStyle"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:paddingTop="500dp"
            android:text="@string/back"
            android:textColor="#ffffff"
            />


    </LinearLayout>



</LinearLayout>